.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
cluster/newoldsampler/results/*
cluster/cubes/results/*
figures/*
fmridata/*
simulations/*/results
simulations/*/errors
simulations/*/figures
simulations/*/results.zip
simulations/.swp
